/* fonts */

/* poppins extra-light */

@font-face {
	font-family: "Poppins";
	src: local("Poppins extralight"),
		url("../fonts/poppins/poppins_extralight.eot"),
		url("../fonts/poppins/poppins_extralight.eot?#iefix") format("embedded-opentype"),
		url("../fonts/poppins/poppins_extralight.woff2") format("woff2"),
		url("../fonts/poppins/poppins_extralight.woff") format("woff"),
		url("../fonts/poppins/poppins_extralight.ttf") format("truetype"),
		url("../fonts/poppins/poppins_extralight.svg") format("svg");
	font-weight: 200;
	font-style: normal;
}

/* poppins light */

@font-face {
	font-family: "Poppins";
	src: local("Poppins Light"),
		url("../fonts/poppins/poppins_light.eot"),
		url("../fonts/poppins/poppins_light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/poppins/poppins_light.woff2") format("woff2"),
		url("../fonts/poppins/poppins_light.woff") format("woff"),
		url("../fonts/poppins/poppins_light.ttf") format("truetype"),
		url("../fonts/poppins/poppins_light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

/* poppins medium */

@font-face {
	font-family: "Poppins";
	src: local("Poppins Medium"),
		url("../fonts/poppins/poppins_medium.eot"),
		url("../fonts/poppins/poppins_medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/poppins/poppins_medium.woff") format("woff2"),
		url("../fonts/poppins/poppins_medium.woff") format("woff"),
		url("../fonts/poppins/poppins_medium.ttf") format("truetype"),
		url("../fonts/poppins/poppins_medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

/* poppins bold */

@font-face {
	font-family: Poppins;
	src: local("Poppins Bold"),
		url("../fonts/poppins/poppins_bold.eot"),
		url("../fonts/poppins/poppins_bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/poppins/poppins_bold.woff2") format("woff2"),
		url("../fonts/poppins/poppins_bold.woff") format("woff"),
		url("../fonts/poppins/poppins_bold.ttf") format("truetype"),
		url("../fonts/poppins/poppins_bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

/* inter medium */

@font-face {
	font-family: "Inter";
	src: local("Inter medium"),
		url("../fonts/inter/inter_medium.eot"),
		url("../fonts/inter/inter_medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/inter/inter_medium.woff2") format("woff2"),
		url("../fonts/inter/inter_medium.woff") format("woff"),
		url("../fonts/inter/inter_medium.ttf") format("truetype"),
		url("../fonts/inter/inter_medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

/* roboto black */

@font-face {
	font-family: "Roboto";
	src: local("Roboto black"),
		url("../fonts/roboto/roboto_black.eot"),
		url("../fonts/roboto/roboto_black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/roboto/roboto_black.woff2") format("woff2"),
		url("../fonts/roboto/roboto_black.woff") format("woff"),
		url("../fonts/roboto/roboto_black.ttf") format("truetype"),
		url("../fonts/roboto/roboto_black.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}

/*variables*/

:root {
	--standart-color: #ffffff;
	--accent-color: #000000;

	--standart-bg: #ffffff;
	--inactive-bg: #00B43D;
	--accent-bg: #13d454;

	--standart-border: #ffffff;
	--inactive-border: #00B43D;

	--standart-shadow: #ffffff;
	--active-shadow: #f1e3e3;
	--accent-shadow: #13d454;

	--standart-lineheight: 1.5;

	--standart-text: 24px;
	--accent-t-text: 32px;
	--accent-s-text: 40px;
	--accent-text: 76px;
}

/*.wrapper*/

.wrapper {
	position: relative;

	width: 100%;
	/* max-width: 1440px; */

	margin: 0 auto;

	overflow: hidden;
}

/* .contain */

.contain {
	position: relative;
	
	width: 100%;
	min-height: 100vh;

	padding: 0 10px 133px;
}

.contain--intro {
	background: linear-gradient(rgba(78, 78, 78, 0.3), rgba(78, 78, 78, 0.2)),
				url("../img/image/cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.contain--features {
	background: linear-gradient(rgba(78, 78, 78, 0.4), rgba(78, 78, 78, 0.2)),
				url("../img/image/features__cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/* .header */

.header {
	position: relative;

	width: 100%;
}

/* .nav */

.nav {
	position: relative;

	width: 100%;
	max-width: 1170px;

	margin: 0 auto 98px;
	padding: 72px 0 0;
}

.nav__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;

	width: 100%;

	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: var(--standart-text);
	line-height: var(--standart-lineheight);
	color: var(--standart-color);
}

.nav__link {
	position: relative;

	opacity: 0.7;
	
	transition: opacity 0.3s ease-in 0.3s;
}

.nav__link::after {
	display: block;

	content: "";

	position: absolute;
	left: 0;
	bottom: -5px;
	
	width: 0;
	height: 2px;

	background: var(--standart-bg);
	border-radius: 30%;

	opacity: 0.5;

	transition: opacity 0.3s ease-in, width 0.3s ease-in, text-shadow 0.3s ease-in;
}

.nav__link:hover,
.nav__link:focus {
	opacity: 1;

	text-shadow: 0 0 10px var(--standart-shadow);
}

.nav__link:hover.nav__link::after,
.nav__link:focus.nav__link::after {
	width: 100%;

	opacity: 1;

	box-shadow: 0 0 10px var(--standart-shadow);	
}

.nav__btn {
	display: none;
}

/* .active */

.active {
	position: relative;

	opacity: 1;

	text-shadow: 0 0 10px var(--standart-shadow);

	transition: opacity 0.3s ease-in, text-shadow 0.3s ease-in;
}

.active::after {
	display: block;

	content: "";

	position: absolute;
	left: 0;
	bottom: -5px;

	width: 100%;
	height: 2px;

	background: var(--standart-bg);
	border-radius: 30%;

	opacity: 1;

	box-shadow: 0 0 10px var(--standart-shadow);
}


/* .intro */

.intro {
	width: 100%;
}

.intro__header {
	width: 100%;
	max-width: 749px;

	margin: 0 auto 369px;

	text-align: center;
}

.intro__title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: var(--accent-text);
	line-height: var(--standart-lineheight);
	color: var(--standart-color);
}

.intro__lead {
	font: 300 normal 24px/1.5 "Poppins", sans-serif; 
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: var(--standart-text);
	line-height: var(--standart-lineheight);
	color: var(--standart-color);

	opacity: 0.8;
}

.intro__lead *:not(:last-child) {
	margin: 0 0 15px;
}

.intro__btn {
	display: block;

	width: 191px;

	margin: 0 auto;
	padding: 16px 71px;

	background: var(--inactive-bg);
	border: 3px solid var(--inactive-border);
	border-radius: 8px;

	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: var(--standart-text);
	line-height: var(--standart-lineheight);
	color: rgba(255, 255, 255, 0.7);
}

.intro__btn:hover,
.intro__btn:focus {
	animation: anim-intro__btn 2s linear infinite 0.3s;
}

/* .features */

.features {
	width: 100%;

	padding: 126px 0 0 0;
}

/* .features__header */

.features__header {
	margin: 0 0 54px;
	
	text-align: center;
}

.features__header *:not(:last-child) {
	margin: 0 0 10px;
}

.features__title {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: var(--accent-s-text);
	line-height: var(--standart-lineheight);
	color: var(--standart-color);
}

.features__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 24px;
}

/* .cards */

.cards__item {
	width: 100%;
	max-width: 320px;

	padding: 24px 24px;

	background: rgba(88, 88, 88, 0.5);

	text-align: right;
}

.cards__img {
	display: block;

	overflow: hidden;

	width: 100%;
	max-width: 272px;
	height: 100%;
	max-height: 252px;

	object-fit: cover;

	margin: 0 auto 17px;

	background-color:rgba(88, 88, 88, 0.9);
	border-radius: 8px;
}

.card__header {
	margin: 0 0 6px;

	text-align: left;
}

.card__header *:not(:last-child) {
	margin: 0 0 5px;
}

.cards__title {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: var(--accent-t-text);
	line-height: var(--standart-lineheight);
	color: var(--standart-color);
}

.cards__description {
	margin: 0 0 32px;

	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: calc(var(--accent-t-text)/2);
	line-height: var(--standart-lineheight);
	color: var(--standart-color);
	text-align: left;
}

.cards__description *:not(:last-child) {
	margin: 0 0 10px;
}

.cards__excerpt {
	display: inline-block;

	min-width: 96px;
	
	padding: 6px 17px 5px;

	background: rgba(78, 78, 78, 0.45);
	border: 1px solid rgba(78, 78, 78, 0.45);
	border-radius: 8px;

	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: calc(var(--standart-text)/2);
	line-height: var(--standart-lineheight);
	color: var(--standart-color);

	opacity: 0.8;

	transition: background 0.3s ease-in, border 0.3s ease-in, 
				box-shadow 0.3s ease-in, opacity 0.3s ease-in,
				text-shadow 0.3s ease-in;
}

.cards__excerpt:hover,
.cards__excerpt:focus {
	background: rgba(78, 78, 78, 1);
	border: 1px solid var(--standart-border);
	box-shadow: 0px 0px 15px var(--active-shadow);

	text-shadow: 0 0 10px var(--standart-shadow);

	opacity: 1;
}

/* .modal */

.modal {
	display: none;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;

	background:rgba(78, 78, 78, 0.65);
	
}

.modal--active {
	display: block;
}

.modal__contain {
	position: fixed;
	left: 50%;
	transform: translatex(-50%);

	max-width: 70%;
	min-width: 50%;
	min-height: 250px;

	margin-top: 150px;
	padding: 20px;

	background: var(--standart-bg);
	border: 3px solid #9fcea6;
	border-radius: 8px;
}

.modal__header {
	width: 100%;

	margin: 0 auto 50px;

	text-align: center;
	color: var(--accent-color);
}

.modal__title {
	font: 500 normal 24px/1.5 "Poppins", sans-serif;
}

.modal__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;

	font: 300 normal 24px/1.5 "Poppins", sans-serif;
	color: #000000;
}

.modal__input {
	width: 100%;
	
	border: 1px solid #9fcea6;
}


/* media */

@media screen and (max-width: 1024px) {

	.contain {
		min-height: auto;
	}

	.nav__btn {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		position: absolute;
		right: 30px;
		top: 65px;
		z-index: 10;

		width: 45px;
		height: 35px;

		background: inherit;
	}

	.btn__line {
		display: block;
	
		width: 100%;
		height: 5px;
	
		background: var(--standart-bg);
		border-radius: 10px;
	
		transform-origin: 0 0;
	
		transition: transform 0.3s ease-in, background 0.3s ease-in;
	}

	.nav__btn:hover.btn__line,
	.nav__btn:focus.btn__line {
		background: var(--accent-bg);
	}

	
	.btn__line:last-child {
		transform-origin: 0 100%;
	}
	
	.btn__line--top {
		transform: rotate(45deg);
		transform-origin: 0 0;
	
		transition: transform 0.3s ease-in;
	}
	
	.btn__line--middle {
		transform: scaleX(0);
	
		opacity: 0;
	
		transition: transform 0.2s ease-in, opacity 0.2s ease-in;
	}
	
	.btn__line--bottom {
		transform: rotate(-45deg);
		transform-origin: 0 100%;
	
		transition: transform 0.3s ease-in;
	}
	
	.nav__list {
		flex-direction: column;
		justify-content: flex-start;

		position: absolute;
		z-index: 9;
		
		transform: translateY(-150%);

		opacity: 0;

		transition: transform 0.3s ease-in, opacity 0.3s ease-in;
	}

	.nav__list--show {
		position: absolute;
		z-index: 9;

		height: 83vh;

		background: linear-gradient(rgba(24, 43, 48, 0) 0%, rgba(24, 43, 48, 1) 16%, 
									rgba(24, 43, 48, 1) 61%, rgba(24, 43, 48, 0) 100%);

		transform: translateY(0);

		opacity: 1;

		transition: transform 0.3s ease-in, opacity 0.3s ease-in;
	}
	
}

@media screen and (max-width: 768px) {

	.nav__list--show {
		height: 60vh;
	}

	.intro__header {
		margin: 0 auto 300px;
	}
}

@media screen and (max-width: 481px) {

	.nav {
		margin: 0 auto 80px;
		padding: 35px 0 0;
	}

	.nav__list--show {
		height: 50vh;
	}

	.intro__header {
		margin: 0 auto 230px;
	}

	.intro__title {
		font-size: calc(var(--accent-text)*0.8);
	}

	.intro__lead {
		font-size: cacl(var(--standart-text)*0.9);
	}

	.features {
		padding: 60px 0 0 0;
	}

	.features__title {
		font-size: calc(var(--accent-s-text)*0.8);
	}
}

/* animations */

/* anim-intro__btn */

@keyframes anim-intro__btn {
	0% {
		background: var(--accent-bg);

		box-shadow: 0 0 10px var(--accent-shadow), 0 0 20px var(--accent-bg);
	}

	20% {
		background: var(--accent-bg);
		border: 3px solid var(--standart-border);
		box-shadow: 0 0 20px var(--accent-bg), 0px 0 40px var(--accent-bg);

		color: var(--standart-color);
		text-shadow: 0 0 5px var(--standart-color);
	}

	40% {
		background: #02ff56;
		box-shadow: 0 0 40px var(--accent-shadow), 0 0 40px var(--accent-color);

		text-shadow: 0 0 10px var(--standart-color);
	}

	60% {
		background: var(--accent-bg);
		box-shadow: 0 0 20px var(--accent-shadow), 0 0 40px var(--accent-shadow);

		text-shadow: 0 0 5px var(--standart-color);
	}

	80% {
		background: var(--accent-bg);
		box-shadow: 0 0 50px var(--accent-shadow), 0 0 60px var(--accent-shadow);

		text-shadow: 0 0 15px var(--accent-shadow);
	}

	100% {
		background: var(--accent-bg);
		box-shadow: 0 0 20px var(--accent-shadow), 0 0 40px var(--accent-shadow);

		text-shadow: 0 0 5px var(--standart-color);
	}
}