/* fonts */

/*variables*/


/*.wrapper*/

.wrapper {
	position: relative;

	width: 100%;
	max-width: 1440px;

	overflow: hidden;
}

/* .header */

.header {
	position: relative;

	width: 100%;
}

/* .nav */

.nav {
	position: relative;

	width: 100%;
	max-width: 1170px;

	margin: 0 auto;
}

.nav__list {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	gap: 128px;

	width: 100%;

	font: 500 normal 24px/1.5 "Poppins", sans-serif;
	color: #ffffff;
}

.nav__link {
	opacity: 0.7;
}