/* fonts */

/*variables*/


/*.wrapper*/

.wrapper {
	position: relative;

	width: 100%;
	max-width: 1440px;

	overflow: hidden;
}

/* .header */

.header {
	position: relative;

	width: 100%;
}

/* .nav */

.nav {
	position: relative;

	width: 100%;
}